<body id="bg-home">
  <div>
  {{!-- <img src="images/cinema.jpg" alt="cinema" /> --}}
  <div id="title-btn">
    <h1 id="h1-home">Cinema <br>
    Ironhack</h1>
    <a href="/movies"><button id="btn">Check the movies!</button></a>
  </div>
</div>
</body>
